@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>@Model.HeaderMessage</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="Input.Login"></label>
                    <input asp-for="Input.Login" class="form-control" readonly="@(!(Model.IsCalendarioNotExists && Model.IsIdentityNotExists))"/>
                    <span asp-validation-for="Input.Login" class="text-danger"></span>
                </div>
            @if (Model.IsIdentityNotExists)
            {
                <div class="form-group">
                    <input asp-for="Input.IsIdentityRequired" />
                    <label asp-for="Input.IsIdentityRequired" readonly="@(!(Model.IsCalendarioNotExists && Model.IsIdentityNotExists))"></label>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            }
            @if (Model.IsCalendarioNotExists)
            {
                <div class="form-group">
                    <label asp-for="Input.GroupId"></label>
                    <select asp-for="Input.GroupId" class="form-control" asp-items="Model.GroupsSL">
                        <option value="">--Select group--</option>
                    </select>
                    <span asp-validation-for="Input.GroupId" class="text-danger">
                    </span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Surname"></label>
                    <input asp-for="Input.Surname" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Patronymic"></label>
                    <input asp-for="Input.Patronymic" class="form-control" />
                </div>
            }
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
